header {
    position: sticky;
    top: 0;
    z-index: 100;

    height: 60px;

}

.pagination {
    flex-wrap: wrap;
}

.my-card {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: #f8f8f8;
}

a.my-card {
    text-decoration: none;
}

.my-card:hover {
    background-color: #d6d8db;
}


#sidebar {
    position: sticky;
    top: 60px;
    z-index: 99;
    min-width: 250px;
    background-color: #343a40;
    max-height: 30vh;
    overflow-y: scroll;
}

#wrapper {
    position: sticky;
    top: 60px;
    z-index: 1;
}


footer a {
    color: lightgray;

}

footer a:hover {
    text-decoration: none;
}

@media (min-width: 576px) {
    header {
    }

    #sidebar {
        max-height: calc(100vh - 60px);
        overflow-y: scroll;
    }
}

